{% extends 'base.html' %} {% load static %}
{% block title %} About {% endblock title %}
 {% block content %}
<link rel="stylesheet" href="{% static 'about.css' %}" />
<div class="container pb-5">
  <div class="OUR-faculty-of-it">
    <p class="font-size text-center">OUR faculty of IT</p>
    <p class="h5 w-50 center text-center">
      Faculty of Information Technology Eastern Asia University There are 2 types of learning styles, 
      normal and special, and you can contact the administrator. or contact via this information.
    </p>
  </div>

  <div class="values">
    <div class="row pb-5">
      <div class="col-6 position-img">
        <img class="img" src="{% static 'img/itcongrat.webp' %}" >
      </div>

      <div class="col-6">
        <div class="Principal w-75">
          <p class="h3">Faculty vision</p>
          <p class="h5">
            <br>
            learning agency information technology
    <br><br>

    Aiming to produce IT graduates for the ASEAN job market
          </p>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-6">
        <div class="vision w-50">
          <p class="h3 pb-3">Faculty resolutions</p>
          <p class="h5">
            <br>
            Committed to managing education
    <br><br>

    Create IT innovations,with quality and virtue
          </p>
          <!--<ul>
            <li>Be Kind</li>
            <li>Be Respectful</li>
            <li>Be Responsible</li>
            <li>Honest</li>
          </ul> -->
        </div>
      </div>
      <div class="col-6 pr-5">
        <div class="position-img2">
         <img class="img" src="{% static 'img/student.it1.jpg' %}" ></div>
        </div>
    </div>
  </div>


  <div class="staff">
    <p class="font-size text-center">IT STAFF DIRECTORY</p>
    <p class="h5 w-50 center text-center">
      Directory of personnel or staff of the Faculty of IT, as information for personal contact.
    </p>
  </div>
  <br>
  <div class="container">
    <div class="row pb-5">
      <div class="col center text-center">
        <p class="h2 pb-2">Dr.Kannicha</p>
        <p class="h4 pb-4">(Dean,Faculty of Information Technology)</p>
        <p class="h5 pb-1">Kannicha@eau.ac.th</p>
      </div>
    </div>
<br>
    <div class="row pb-5">
      <div class="col text-center">
        <p class="h2 pb-2">Mrs.Sukhonthip</p>
        <p class="h4 pb-4">(Lecturer,Faculty of IT)</p>
        <p class="h5 pb-1">Sukhontip@eau.ac.th</p>
      </div>
      <div class="col text-center">
        <p class="h2 pb-2">Dr.Sukontip</p>
        <p class="h4 pb-4">(Lecturer,Faculty of IT)</p>
        <p class="h5 pb-1">Sukontip@eau.ac.th</p>
      </div>
      <div class="col text-center">
        <p class="h2 pb-2">Mrs.Areeya</p>
        <p class="h4 pb-4">(Lecturer,Faculty of IT)</p>
        <p class="h5 pb-1">Areeya@eau.ac.th</p>
      </div>
      </div>
    </div>
<br>
    <div class="row pb-5">
      <div class="col text-center">
        <p class="h2 pb-2">Mr.Sorawit</p>
        <p class="h4 pb-4">(Lecturer,Faculty of IT)</p>
        <p class="h5 pb-1">Sorawit@eau.ac.th</p>
      </div>
      <div class="col text-center">
        <p class="h2 pb-2">Mr.Nikorn</p>
        <p class="h4 pb-4">(Lecturer,Faculty of IT)</p>
        <p class="h5 pb-1">Nikorn@eau.ac.th</p>
      </div>
      <div class="col text-center">
        <p class="h2 pb-2">Mr.Thatchakon</p>
        <p class="h4 pb-4">(Lecturer,Faculty of IT)</p>
        <p class="h5 pb-1">Topsapon@eau.ac.th</p>
      </div>
      </div>
    </div>
<br>
  </div>
  <div class="container">
    <div class="row pb-5">
      <div class="col center text-center">
        <p class="h2 pb-2">Mrs.Supranee</p>
        <p class="h4 pb-4">(Lecturer,Faculty of IT)</p>
        <p class="h5 pb-1">Supraneev@eau.ac.th</p>
      </div>
      <div class="col center text-center">
        <p class="h2 pb-2">Dr.Suwannee</p>
        <p class="h4 pb-4">(Lecturer,Faculty of IT)</p>
        <p class="h5 pb-1">Suwannee@eau.ac.th</p>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
