{% extends 'base.html' %} {% load static %}
{% block title %} ACADEMICS {% endblock title %}
 {% block content %}
<link rel="stylesheet" href="{% static 'about.css' %}" />
<div class="container pb-5">
  <div class="OUR-faculty-of-it">
    <p class="font-size text-center">ACADEMICS</p>
    <p class="h6 w-50 center text-center">
      I'm a paragraph. Click here to add your own text and edit me. It’s easy.
      Just click “Edit Text” or double click me to add your own content and make
      changes to the font.
    </p>
  </div>

  <div class="values">
    <div class="row pb-5">
      <div class="col-6"></div>

      <div class="col-6">
        <div class="Principal w-75">
          <p class="h3">Principal's Message</p>
          <p class="h6">
            I'm a paragraph. Click here to add your own text and edit me. It’s
            easy. Just click “Edit Text” or double click me to add your own
            content and make changes to the font.
          </p>
          <p class="h6">
            I'm a paragraph. Click here to add your own text and edit me. It’s
            easy. Just click “Edit Text” or double click me to add your own
            content and make changes to the font.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <div class="vision w-50">
          <p class="h3 pb-3">Vision & Values</p>
          <ul>
            <li>Be Kind</li>
            <li>Be Respectful</li>
            <li>Be Responsible</li>
            <li>Work Hard</li>
            <li>Have Fun</li>
          </ul>
        </div>
      </div>
      <div class="col-6"></div>
    </div>
  </div>
</div>
{% endblock content %}
