{% load static %}
<link rel="stylesheet" href="{% static 'footer.css' %}" />
<div class="footer p-4">
   

  <div class="row">
    <div class="col-3">
        <a class="nav-link" href="{% url 'home' %}">
          <img src="{% static 'img/Logo.IT.png' %}" 
            width="180px" height="180px" align="left"/>  
        </a>
    </div>
    <div class="col-3 pt-4">
      <p class="h5 pb-3">QUICK NAVIGATION</p>
      <div class="row pb-2">
        <div class="col-5">About</div>
        <!--<div class="col-7">Admin</div>-->
      </div>
      <div class="row pb-2">
        <!--<div class="col-5">Academics</div>-->
        <div class="col-7">Contact</div>
      </div>
      <div class="row pb-2">
        <div class="col-5">Students</div>
        <div class="col-7"></div>
      </div>
    </div>
    <div class="col-3 pt-4">
      <p class="h5 pb-3">STAY CONNECTED</p>

      <div class="row pb-2">
        <div class="col-12">
         <a href="https://www.youtube.com/channel/UC7-Aqr0PSzR1zrySZ5wK4Ug">Vlog IT EAU</a>
        </div>
      </div>

      <div class="row pb-2">
        <div class="col-12">
          <a href="https://reg.eau.ac.th/registrar/home.asp">reg.eau.ac.th</a>
        </div>
      </div>

      <div class="row pb-2">
        <div class="col-12">
          <a href="https://www.eastern-asia.space/">EAU-Webpage</a>
        </div>
      </div>

    </div>
    <div class="col-3 pt-4">
      <p class="h5 pb-3">GET IN TOUCH</p>
      <div class="row pb-2">
        <div class="col-9">
          (IT) Eastern Asia University
          <br>
          N.200, V.1, R.Rangsit-Nakhon Nayok,
          D.Rangsit, A.Thanyaburi, P.Pathum Thani, CA.12110 
          <br>
          <p> Tel:  <a href="tel:025771028-31">025771028-31 per 302/387</a></p>
          <a href = "mailto: 61180003@stu.eau.ac.th">Send Email</a>
          
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer-bottom">
  <p class="h6 text-center pt-3">
    © 2021 by Faculty of Information Technology Eastern Asia University
  </p>
</div>
