{% extends 'base.html' %} {% load static %} {% block title %} Students {% endblock title %} {% block content %}
<link rel="stylesheet" href="{% static 'about.css' %}" />
<div class="container pb-5">
  <div class="OUR-faculty-of-it">
    <p class="font-size text-center">OUR STUDENTS</p>
    <p class="h4 w-50 center text-center">
      Students for the Faculty of IT 
      There will be various activities.
      and live as a family and 
      can easily consult with friends and seniors 
      and can consult with teachers easily.
    </p>
  </div>

  <div class="values">
    <div class="row pb-5">
      <div class="col-6 position-img">
        <img class="img" src="{% static 'img/waikru.jpg' %}" >
      </div>

      <div class="col-6 position-img">
        <img class="img" src="{% static 'img/3.1.jpg' %}" >
      </div>
    </div>

    <div class="row">
        <div class="col-6 position-img">
          <img class="img" src="{% static 'img/9.jpg' %}" >
        </div>

      <div class="col-6 position-img">
        <img class="img" src="{% static 'img/5.3.jpg' %}" >
      </div>
    </div>
  </div>
</div>
{% endblock content %}
